@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("Aeonik/Aeonik-Medium.otf") format("opentype"),
    url("Aeonik/Aeonik-Regular.otf") format("opentype");
}

body {
  font-family: Aeonik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
